<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <title>Mantaja</title>
</head>
<style>
    .sheading{
  margin-top: 50px;
  margin-left: 20px;
  text-align: left;
  color: #007bff;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  .blog-footer{
position: absolute;
bottom: 0%;
width: 100%;
background-color: #f8f9fa;;
}
.blog-footer p{
  text-align: center;
}
</style>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="border: 1px solid black; border-radius: 40px;" class="navbar-brand" href="/">منتجع</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SignIn
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/signin">SignIn</a>
            <a class="dropdown-item" href="/admin">SignIn as Staff</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">SignUp</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- udaipur  -->
  {% if product != products %}
  <div class="row">
    <div class="col-md-5 my-4">
      <img style="width: 500px; margin-left: 30px; border: 1px solid black; border-radius: 10px;"
        src="/media/{{product.images}}" height="350px">

      <a href="/order"> <button style="margin-left:170px ; color: white;" class="btn btn-primary "> Book
          Now</button></a>

    </div>

    <div class="col-md-7 my-4">
      <!-- s -->
      <form>
        <!-- hotel name -->
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">
            <h5><b> Hotel Name</b></h5>
          </label>
          <div class="col-sm-10">
            <h5 id="name" style="text-transform: uppercase;"> {{product.hotel_name}}</h5>
          </div>
        </div>
        <!-- price -->
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">
            <h5><b>Price ₹-</b></h5>
          </label>
          <div class="col-sm-10">
            <h5 id="price"><b> {{product.hotel_price}} </h5>
          </div>
        </div>
        <!-- location -->
        <div class="form-group row">
          <label for="location" class="col-sm-2 col-form-label"><i class='fas fa-map-marker-alt'
              style='font-size:30px'></i>- </label>
          <div class="col-sm-10">
            <h5 style="text-transform: uppercase;" id="location"><b> {{product.category}}</b></h5>
          </div>
        </div>
        <!-- desc -->
        <div class="form-group row">
          <label for="desc" class="col-sm-2 col-form-label">
            <h5><b>DESCRIPTION:</b> </h5>
          </label>
          <div class="col-sm-10">
            <h5 id="desc">{{product.desc}} </h5>
          </div>
        </div>
      </form>
      <!-- e -->
    </div>
  </div>
  {% else %}
  <style>
    .container #product {
      display: none;
    }
  </style>
  {% endif %}




  <!-- benglore -->
  {% if benglore != benglores %}
  <div class="benglore">

    <div class="row">
      <div class="col-md-5 my-4">
        <img style="width: 500px; margin-left: 30px; border: 1px solid black; border-radius: 10px;"
          src="/media/{{benglore.images}}" height="350px">

        <a href="/order"> <button style="margin-left:170px ; color: white;" class="btn btn-primary my-2"> Book
            Now</button></a>

      </div>

      <div class="col-md-7 my-4">
        <!-- s -->
        <form>
          <!-- hotel name -->
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">
              <h5><b> Hotel Name</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="name" style="text-transform: uppercase;"> {{benglore.hotel_name}}</h5>
            </div>
          </div>
          <!-- price -->
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">
              <h5><b>Price ₹ / Night</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="price"><b> {{benglore.hotel_price}} </h5>
            </div>
          </div>
          <!-- location -->
          <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label"><i class='fas fa-map-marker-alt'
                style='font-size:30px'></i>- </label>
            <div class="col-sm-10">
              <h5 style="text-transform: uppercase;" id="location"><b> {{benglore.category}}</b></h5>
            </div>
          </div>
          <!-- desc -->
          <div class="form-group row">
            <label for="desc" class="col-sm-2 col-form-label">
              <h5><b>Description:</b> </h5>
            </label>
            <div class="col-sm-10">
              <h5 id="desc">{{benglore.desc}} </h5>
            </div>
          </div>
        </form>
        <!-- e -->
      </div>
    </div>
    
  </div>
  {% else %}
  <style>
    .benglore {
      display: none;
    }
  </style>
  {% endif %}


  <!-- goa -->
  {% if goa != goas %}
   <div class="goa">

    <div class="row">
      <div class="col-md-5 my-4">
        <img style="width: 500px; margin-left: 30px; border: 1px solid black; border-radius: 10px;"
          src="/media/{{goa.images}}" height="350px">

        <a href="/order"> <button style="margin-left:170px ; color: white;" class="btn btn-primary my-2"> Book
            Now</button></a>

      </div>

      <div class="col-md-7 my-4">
        <!-- s -->
        <form>
          <!-- hotel name -->
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">
              <h5><b> Hotel Name</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="name" style="text-transform: uppercase;"> {{goa.hotel_name}}</h5>
            </div>
          </div>
          <!-- price -->
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">
              <h5><b>Price ₹ / Night</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="price"><b> {{goa.hotel_price}} </h5>
            </div>
          </div>
          <!-- location -->
          <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label"><i class='fas fa-map-marker-alt'
                style='font-size:30px'></i>- </label>
            <div class="col-sm-10">
              <h5 style="text-transform: uppercase;" id="location"><b> {{goa.category}}</b></h5>
            </div>
          </div>
          <!-- desc -->
          <div class="form-group row">
            <label for="desc" class="col-sm-2 col-form-label">
              <h5><b>Description:</b> </h5>
            </label>
            <div class="col-sm-10">
              <h5 id="desc">{{goa.desc}} </h5>
            </div>
          </div>
        </form>
        <!-- e -->
      </div>
    </div>
    
  </div>
  {% else %}
  <style>
    .goa {
      display: none;
    }
  </style>
  {% endif %}

  <!-- pune -->
  {% if pune != punes %}
  <div class="pune">

    <div class="row">
      <div class="col-md-5 my-4">
        <img style="width: 500px; margin-left: 30px; border: 1px solid black; border-radius: 10px;"
          src="/media/{{pune.images}}" height="350px">

        <a href="/order"> <button style="margin-left:170px ; color: white;" class="btn btn-primary my-2"> Book
            Now</button></a>

      </div>

      <div class="col-md-7 my-4">
        <!-- s -->
        <form>
          <!-- hotel name -->
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">
              <h5><b> Hotel Name</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="name" style="text-transform: uppercase;"> {{pune.hotel_name}}</h5>
            </div>
          </div>
          <!-- price -->
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">
              <h5><b>Price ₹ / Night</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="price"><b> {{pune.hotel_price}} </h5>
            </div>
          </div>
          <!-- location -->
          <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label"><i class='fas fa-map-marker-alt'
                style='font-size:30px'></i>- </label>
            <div class="col-sm-10">
              <h5 style="text-transform: uppercase;" id="location"><b> {{pune.category}}</b></h5>
            </div>
          </div>
          <!-- desc -->
          <div class="form-group row">
            <label for="desc" class="col-sm-2 col-form-label">
              <h5><b>Description:</b> </h5>
            </label>
            <div class="col-sm-10">
              <h5 id="desc">{{pune.desc}} </h5>
            </div>
          </div>
        </form>
        <!-- e -->
      </div>
    </div>
    
  </div>
  {% else %}
  <style>
    .pune {
      display: none;
    }
  </style>
  {% endif %}

  <!-- mumbai -->
  {% if mumbai != mumbais %}
  <div class="mumbai">

    <div class="row">
      <div class="col-md-5 my-4">
        <img style="width: 500px; margin-left: 30px; border: 1px solid black; border-radius: 10px;"
          src="/media/{{mumbai.images}}" height="350px">

        <a href="/order"> <button style="margin-left:170px ; color: white;" class="btn btn-primary my-2"> Book
            Now</button></a>

      </div>

      <div class="col-md-7 my-4">
        <!-- s -->
        <form>
          <!-- hotel name -->
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">
              <h5><b> Hotel Name</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="name" style="text-transform: uppercase;"> {{mumbai.hotel_name}}</h5>
            </div>
          </div>
          <!-- price -->
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">
              <h5><b>Price ₹ / Night</b></h5>
            </label>
            <div class="col-sm-10">
              <h5 id="price"><b> {{mumbai.hotel_price}} </h5>
            </div>
          </div>
          <!-- location -->
          <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label"><i class='fas fa-map-marker-alt'
                style='font-size:30px'></i>- </label>
            <div class="col-sm-10">
              <h5 style="text-transform: uppercase;" id="location"><b> {{mumbai.category}}</b></h5>
            </div>
          </div>
          <!-- desc -->
          <div class="form-group row">
            <label for="desc" class="col-sm-2 col-form-label">
              <h5><b>Description:</b> </h5>
            </label>
            <div class="col-sm-10">
              <h5 id="desc">{{mumbai.desc}} </h5>
            </div>
          </div>
        </form>
        <!-- e -->
      </div>
    </div>
    
  </div>
  {% else %}
  <style>
    .mumbai {
      display: none;
    }
  </style>
  {% endif %}

  <!-- facilities -->
  <h3 class="sheading">Guests' favourite facilities</h3>
  <div class="container my-4">
    <div class="row">
      <div class="col-sm-2">
          <p style="color: #ABC798;"><i class="fa fa-wifi" style='font-size:36px'></i>  Free  WiFi</p>
      </div>
      <div class="col-sm-2">
        <p style="color:#ABC798 ;"><i class='fas fa-parking' style='font-size:36px'></i> Free parking</p>
      </div>
      <div class="col-sm-2">
        <p style="color:#ABC798 ;"><i class='fas fa-swimmer' style='font-size:36px'></i>  Free Swimming Pool</p>
      </div>
      <div class="col-sm-2">
        <p style="color:#ABC798 ;"><i class='fas fa-utensils' style='font-size:36px'></i>   Restaurant</p>
      </div>
      <div class="col-sm-2">
        <p style="color:#ABC798 ;"><i class='fas fa-dumbbell' style='font-size:36px'></i> Free Gym</p>
      </div>
      <div class="col-sm-2">
        <p style="color:#ABC798 ;"><i class='fas fa-smoking'  style='font-size:36px'></i> SmokingRoom</p>
      </div>
    </div>
  </div>






  <footer class="blog-footer">
    <p>منتجع Hotel Booking  by <a href="https://github.com/huzefaTaj">@HTaj</a>.</p>
   
  </footer>






  <script src="/static/JavaScript/order.js"></script>









  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>